/*
-----------------------------------------------
Wikka Print Stylesheet
Latest version: http://wikka.jsnx.com/css/print.css
----------------------------------------------- */

.header, .footer, .commentsheader, .copyright, .smallprint { display:none; }

body {
	margin-top: 0px; 
	margin-bottom: 0px; 
 	margin-left: 0px;
	margin-right: 0px;
}

.page {
	background-color: #FFFFFF;
	padding: 0px;
	border: none;
}