/*
-----------------------------------------------
Wikka Installer Stylesheet
----------------------------------------------- */

body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #EEE;	
	color: #000;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

div.header {
	padding: 30px 15px 15px 15px;
	background-color: #FFF;	
	border-bottom: 1px solid #CCC;
}

div.page {
	padding: 15px;
}
a {
	color: #800;
}

input[type=submit], input[type=button] {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 1px;
	width: auto;
	font-size: 9pt;
	color:#fff;
	font-weight: bold;
	background: #33A;
	border-right: 2px solid #336;
	border-bottom: 2px solid #336;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: #66C;
	border-right: 2px solid #668;
	border-bottom: 2px solid #668;
}

input[type=password], input[type=text] {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #800;
}


.ok {
	color: #080;
	font-weight: bold;
}

.failed {
	color: #800;
	font-weight: bold;
}


h2 {
	font-size: 10pt;
}

h1 {
	font-size: 13pt;
}

abbr {
	border-bottom: 1px dotted #333;
	cursor: help;
}

ul {
	margin: 2px;
	padding: 5px;
}

.note{
	display: block;
	background-color: #FEFEFE;
	border: 1px solid #CCC;
	margin: 5px 0px;
	padding: 5px;
	font-size: 12px;
	line-height: 18px;
}

xmp{
	display: block;
	border: 1px solid #CCC;
	background-color: #FEFEFE;
	padding: 10px;
}