/*
-----------------------------------------------
Wikka Default Stylesheet (screen)
----------------------------------------------- 
*/

/* global styling */

p, td, li, input, select, textarea {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 13px;
}

form, h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

/* page layout */

body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;	font-size: 13px;
/*	text-align: justify; */			/* comment out this line if you really need justified text */
	line-height: 20px;
	color: #000000;
	background-color: #F8F8F8;
	margin: 0;
}

.header {
	padding: 10px;
}

.page {
	color: #000;
	font-size: 13px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	background-color: white;
	padding: 15px;
	border-top: 1px solid #CCC;
	border-bottom: none;
	height: 100%;
}

.footer {
	clear: both;
	background-color: #E3E3E3;
	padding: 5px 10px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

/* comments */

.commentsheader {
	clear: both;
	background-color: #E3E3E3;
	padding: 2px 10px;
	border-top: 1px solid #CCCCCC;
}

.comment {
	background-color: #EEEEEE;
	padding: 10px;
	border: 1px solid #CCCCCC;
	margin: 15px;
}

.comment2 {
	background-color: #DDDDDD;
	padding: 10px;
	border: 1px solid #CCCCCC;
	margin: 15px;
}

.commentinfo {
	color: #AAAAAA;
}

.commentform {
	background-color: #EEEEEE;
	padding: 10px;
}

/* links */

a {
	color: #333399;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #993333;
}

a:active {
	text-decoration: none;
}

a.ext {
	color: #333399;
}

a.ext:hover {
	color: #993333;
}

.exttail {
	color: #999;
	position: relative;
	bottom: 0.5ex;
}

.header a:hover {
	color: #993333;
	background: transparent;
	border-bottom: 0px;
}

.page a {
	text-decoration: none;
}

.page a:hover {
	color: #993333;
	text-decoration: underline;
}

a.keys:hover {
	text-decoration: none;
	color: #333;	
}

/* lists */

ul, ol {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul.thread {
	list-style-type: none;
	border-left: 2px #666 solid;
	padding-left: 10px;
	margin: 5px 0px;
}

ul.thread li {
	color: #333;
	font-size: 11px;
}

/* images */

img {
	border: 0px;
}

img.centre {
	display: block; 
	text-align: center; 
	margin: 5px auto;
}

img.center {
	display: block; 
	text-align: center; 
	margin: 5px auto;
}

img.left {
	margin: 5px 5px 5px -5px;
	float: left;
}

img.right {
	margin: 5px -5px 5px 5px; 
	float: right;
}

/* boxes and floats */

div.alertbox {
	margin: 10px;
	padding: 4px 8px;
	width:49%;
	background-color:#FEE;
	border:1px solid #EDD;
	font-size: 90%;
}

.floatl {
	float: left;
	text-align: left;
	width: 46%;
	margin-right: 15px;
	padding: 4px;
	background: #EEE;
	border: 1px solid #CCC; 		
}

.floatr {
	float: right;
	text-align: left;
	width: 46%;
	margin-left: 15px;
	padding: 4px;
	background: #EEE;
	border: 1px solid #CCC; 		
}

.clear {clear:both;}

/* text formatting */

h5 {
	font-size: 10pt;
}

h4 {
	font-size: 12pt;
}

h3 {
	font-size: 14pt;
}

h2 {
	font-size: 16pt;
}

h1 {
	font-size: 18pt;
}

.highlight {color: red; background: #FFFFD0;}

.strikethrough {color: #888; text-decoration: line-through;}

.underline {text-decoration: underline;}

.indent {
	margin-left: 40px;
}

.notes {
	color: #888800;
}

.centre {text-align: center;}

.center, .center p {text-align: center;}

.keys {
	color: #666;
	background-color: #DDD;
	font: normal 95% Verdana, sans-serif;
	text-align: center;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding: .1em .2em;
}

.keys:hover {
	color: #555;
	background-color: #CCC;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

/* other HTML elements */

acronym {
	border-bottom: 1px dotted #333;
	cursor: help;
}

abbr {
	border-bottom: 1px dotted #333;
	cursor: help;
}

blockquote {
	font-size: 90%;
}

hr {
	border: 0;
	border-top: 1px solid #EEE;
}

/* code blocks */

.code_header {
	color: #666;
	background-color: #EEE;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	padding: 0 3px;
	margin: 5px auto 0 auto;
	text-align: left;
	line-height: 1.5em;
}

.code {
	color: black;
	background: #ffffee;
	border: 1px solid #CCC;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
	margin: auto;
	padding: 6px 5px 13px 5px;	/* padding-bottom solves hor. scrollbar hiding single line of code in IE6 but causes vert. scrollbar... */
	text-align: left;			/* override justify on body */
	overflow: auto;				/* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
	white-space: nowrap;		/* prevent line wrapping */
}

.code pre {
	margin-top: 6px;
	margin-bottom: 6px;			/* prevent vertical scroll bar in case of overflow */
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
}

/* form elements */

fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #CCC;	
}

fieldset legend {
	font-size: 115%;
	color: #666;
	padding:2px;
}

textarea {
	border: 1px solid #CCC;	
}

textarea:hover {
	background-color: #F3F3F3;
}

textarea:focus {
	background-color: #E6E6E6;
}

input:hover {
	background-color: #F3F3F3;
}

input:focus {
	background-color: #E6E6E6;
}

input[type=submit], input[type=button] {
	color: #666;
	background-color: #EEE;
	font: normal 95% Verdana, sans-serif;
	text-align: center;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	padding: .1em .2em;
}

input[type=submit]:hover, input[type=button]:hover {
	color: #333;
	background-color: #DDD;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

input[type=text] {
	border: 1px solid #CCC;	
}

textarea#body{
	width: 100%;
	height: 500px;
	padding: 2px;
}

.searchbox {
	/* border: none; */
	border: 1px solid #CCCCAA;
	padding: 0px;
	margin: 0px;
}

input.grabcode {
	float: right;
	margin-top: 0px;
	font-size: 90%;
}

input.highlight {
	font-weight: normal;
	background-color: #FCC;
	color: #000;
}

/* system information */

.missingpage {
	/* background: #ccffff; */
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-color: #933;
	border-bottom-style: dashed;
}

em.error {
	color: #AA3333; 
	font-style: normal;
	font-weight: bold;
	font-size: 95%;
	display: block;
}

em.success {
	color: #33AA33; 
	font-style: normal;
	font-weight: bold;
	font-size: 95%;
	display: block;
}

.comments {display: none;}

.revisioninfo {
	color: #AAAAAA;
	padding-bottom: 20px;
}

.copyright {
	font-size: 11px;
	color: #AAAAAA;
	text-align: right;
}

.copyright a {
	color: #AAAAAA;
}

.previewhead {
	margin: auto;
	z-index:20;
	position:fixed;
	top: 40px;
	left: 10px;
	color: red;
	font-size: xx-large;
	font-weight: bold;
	padding: 5px;
}

ins {
	background-color: #CFC;
	text-decoration: none;
}

del {
	color: #876;
	background-color: #FC9;
	text-decoration: none;
}

.recentchanges {font-size: 0.9em;}

.pagenote {color: #888;}

.smaller {font-size: smaller;}

.smallprint {font-size: 0.8em; color: #777; padding-right: 0.5%; text-align: right;}

.smallprint a {
	color: #987;
}

/* ACTION-related styling */

/* File attachments */

div.files {
	display: block;
	padding: 5px;
	width: 40%;
}

table.files {
	width: 100%;
	font-size: 90%;
	border: 2px solid #CCC;
	border-collapse: collapse;
	border-spacing: 0;
}

table.files caption {
	border: 1px solid #CCC;
	color: #666;
	margin:5px 0;
	padding:2px;
}

table.files thead {
	background-color: #DDD;
}

table.files th, table.files td {
	border: 1px solid #CCC;
	padding: 1px 3px;
}

table.files thead th {
	background-color: #DDD;
}

table.files tfoot th {
	background-color: #DDD;
}

table.files tbody th {
	background-color: #EEE;
}

table.files tbody tr:hover {
	background-color: #EEE;
}

/* Tables */
table.wikka {
	border: 2px solid #CCC;
	border-collapse: collapse;
	border-spacing: 0;
}

table.wikka caption {
	border: 1px solid #CCC;
	font-size: 95%;
	color: #666;
	margin:5px 0;
	padding:2px;
}

table.wikka thead {
	background-color: #DDD;
}

table.wikka tfoot {
	background-color: #DDD;
}

table.wikka th {
	border: 1px solid #CCC;
	padding: .1em .25em;
}

table.wikka thead th {
	background-color: #DDD;
}

table.wikka tfoot th {
	background-color: #DDD;
}

table.wikka tbody th {
	background-color: #EEE;
}

table.wikka tbody tr:hover {
	background-color: #EEE;
}

table.wikka td {
	border: 1px solid #CCC;
	padding: .1em .25em;
}

/* Lastedit action */
.lastedit {
	border:dotted 1px;
	padding:3pt;
	margin:8pt; color:#888;
	font-size:8pt;
	width:30%;
}

.lastedit_notes {
	color: #888800;
}

/* TextSearch & TextSearchExpanded Actions*/
.tse_keywords {
	font-weight: bold;
	color: green;
	background-color: #FAEBD7;
}

/* Calendar Action */
table.calendar {
	color: #000;
	background-color: #EEE;
	border-collapse: collapse;
}

table.calendar caption {
	border: 1px solid #CCC;
	margin:5px 0;
	font-size: 95%;
	color: #666;
	padding:2px;
}

table.calendar thead {
	border: 2px solid #CCC;
	background-color: #DDD;
}

table.calendar tbody.face {
	background-color: #EEE;
	border: 2px solid #CCC;
}

table.calendar tbody.calnav {
	background-color: #FFF;
}

table.calendar thead th {
	border: 1px solid #CCC;
	padding: 1px;
	text-align: center;
	font-size: 85%;
	width: 26px;
}

table.calendar tbody.face td {
	border: 1px solid #CCC;
	text-align: right;
}

table.calendar td.currentday {
	color: #FFF;
	background-color: #33A;
}

table.calendar tbody.face td:hover {
	background-color: #DDD;
}

table.calendar tbody.face td.currentday:hover {
	color: #FFF;
	background-color: #66C;
}

table.calendar tbody.calnav {
	font-weight: bold;
}

table.calendar td.prevmonth {
	text-align: left;
	font-size: 85%;
}

table.calendar td.curmonth {
	text-align: center;
}

table.calendar td.nextmonth {
	text-align: right;
	font-size: 85%;
}

table.calendar a:link {
	color: #339;
	text-decoration: none;
}

table.calendar a:visited {
	color: #339;
	text-decoration: none;
}

table.calendar a:hover {
	color: #933;
}

table.calendar a:active {
	color: #339;
	text-decoration: none;
}

/* Feedback action */

fieldset.feedback {
	display: block;
	min-width: 400px;
	padding: 10px;
}

fieldset.feedback label {
	display: block;
	width: 120px;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	padding-right: 10px;
}

fieldset.feedback input[type=submit] {
	float: left;
	margin-left: 130px;
}

fieldset.feedback input[type=text] {
	display: block;
	width: 250px;
	float: left;
	margin-bottom: 10px;
	border:1px solid #CCC;
}

fieldset.feedback textarea {
	display: block;
	width: 250px;
	float: left;
	margin-bottom: 10px;
	border:1px solid #CCC;
}

fieldset.feedback br {
	clear: left;
}

/* Usersettings action */

fieldset#account {
	display: block;
	min-width: 600px;
	padding: 10px;
	background-color: #F6F6F6;
	text-align: left;
}

fieldset#account span#account_info {
	display: block;
	width: 230px;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	padding-right: 10px;
}

fieldset#account input#logout {
	float: left;
	margin-left: 0;
}


fieldset.usersettings {
	display: block;
	min-width: 600px;
	padding: 10px;
}

fieldset.usersettings em {
	clear: left;
	float: left;
	display: block;
	margin: 0 0 0 240px;
}

fieldset.usersettings em.usersettings_info {
	clear: left;
	float: left;
	display: block;
	width: 246px;
	margin: 0 0 5px 240px;
	font-style: normal;
	font-size: 85%;
	color: #666;
	border: 1px solid #CCC;
	background-color: #F0F0F0;
	padding: 2px;
}

fieldset.usersettings label {
	display: block;
	width: 230px;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	padding-right: 10px;
}

fieldset.usersettings select#update_option {
	display: block;
	width: 230px;
	float: left;
	margin: 0px 10px 10px 0px;
}

fieldset.usersettings input[type=text], fieldset.usersettings input[type=password] {
	display: block;
	width: 250px;
	float: left;
	margin-bottom: 10px;
	border:1px solid #CCC;
}

fieldset.usersettings input[type=submit] {
	float: left;
	margin-left: 250px;
}

fieldset.usersettings br {
	clear: left;
}

/* HANDLER-related styling */

/* acls handler */
table.acls {
}

/* 3rdparty-code related styling */

/* syntax highlighting code - GeSHi */
.code ol {
	margin-top: 6px;
	margin-bottom: 6px;			/* prevent vertical scroll bar in case of overflow */
}
.code li {
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
}
.code .br0	{ color: #66cc66; }
.code .co1	{ color: #808080; font-style: italic; }
.code .co2	{ color: #808080; font-style: italic; }
.code .coMULTI	{ color: #808080; font-style: italic; }
.code .es0	{ color: #000099; font-weight: bold; }
.code .kw1	{ color: #b1b100; }
.code .kw2	{ color: #000000; font-weight: bold; }
.code .kw3	{ color: #000066; }
.code .kw4	{ color: #993333; }
.code .kw5	{ color: #0000ff; }
.code .me0	{ color: #006600; }
.code .nu0	{ color: #cc66cc; }
.code .re0	{ color: #0000ff; }
.code .re1	{ color: #0000ff; }
.code .re2	{ color: #0000ff; }
.code .re4	{ color: #009999; }
.code .sc0	{ color: #00bbdd; }
.code .sc1	{ color: #ddbb00; }
.code .sc2	{ color: #009900; }
.code .st0	{ color: #ff0000; }

/* wikiedit */

.toolbar tr { background: ButtonFace; }
.toolbar .btn-, .toolbar  .btn-hover,  .toolbar .btn-active,
.toolbar .btn-pressed {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0px;
	cursor: pointer;
}
.toolbar .btn- img  { width: 20px; height: 20px; }
.toolbar .btn-hover { border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; }
.toolbar .btn-active,
.toolbar .btn-pressed { border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow; }
.toolbar .btn-pressed { background: ButtonHighlight; }
.editornamecss { background-color:#CCCCFF; font-size: 18px; padding: 0 10px; }


/* Version: $Id$ */
