### STOP REFERRER SPAM
SetEnvIfNoCase Referer ".*(adultsite|picturesplace|learnthebiz|pi-o|erotica|ghettoinc|port5|bulk-email|camgirls|paris-hilton|modelos|kredit|handyflirt24|versicherung|wwww|erotower|krank|x-1000|flirtnet|blowjob|agedwife|in-the-vip|boysfirsttime|milf|captain-stabbin|tranny|Kontakt|erotik|fetish|frauen|hardcore|fick|krankenversicherung|jinnan-cross|8thstreet|xxx|XXX|ficken|fuck).*" BadReferrer

order deny,allow
deny from env=BadReferrer

<IfModule mod_rewrite.c>
 # turn on rewrite engine
 RewriteEngine on
 # if request is a directory, make sure it ends with a slash
 RewriteCond %{REQUEST_FILENAME} -d
 RewriteRule ^(.*/[^/]+)$ $1/
 # if not rewritten before, turn request into a query for wikka.php
 RewriteCond %{QUERY_STRING} !wakka=
 RewriteRule ^(.*)$ wikka.php?wakka=$1 [QSA,L]
</IfModule>